<%= bootstrap_form_for(@cpu_alert) do |f| %>
<% if @cpu_alert.errors.any? %>

<div id="error_explanation">
  <div class="alert alert-danger">
    <%= pluralize(@cpu_alert.errors.count, "error") %> prohibited this CPU Alert from being saved:
    <ul>
      <% @cpu_alert.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>

<div class="field">
<%= f.select :machine_id, @machine_ids, label: "Machine ID" %>
</div>
<div class="field">
<%= f.text_field :addressee, label: 'E-Mail address', placeholder: 'sonar_alert@example.com' %>
</div>
<div class="field">
<%= f.number_field :threshold, label: 'CPU threshold', class: 'text_field', step: 0.5, help: 'Positive integer, percentage of CPU usage.' %>
</div>
<div class="field">
<%= f.number_field :check_interval, help: 'Positive integer between 1 and 1440, minutes between each check.' %>
</div>
<div class="field">
<%= f.text_area :custom_message %>
</div>
<br>
<div class="actions">
  <%= f.submit "Save CPU Alert", class: "btn btn-primary" %>
</div>
<br>
<% end %>
