<%= bootstrap_form_for(@cpu_alert) do |f| %>
<% if @cpu_alert.errors.any? %>

<div class="alert alert-danger">
  <%= pluralize(@cpu_alert.errors.count, "error") %>:
  <ul>
    <% @cpu_alert.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="field">
  <%= f.select :machine_id, @machines_hash %>
</div>
<div class="field">
  <%= f.text_field :addressee, placeholder: 'sonar_alert@example.com' %>
</div>
<div class="field">
  <%= f.number_field :threshold, placeholder: '50.5', class: 'text_field', step: 0.1 %>
</div>
<div class="field">
  <%= f.number_field :duration, placeholder: '10' %>
</div>
<div class="field">
  <%= f.text_area :custom_message %>
</div>
<br>
<div class="actions">
  <%= f.submit class: 'btn btn-primary submit' %>
</div>
<br>
<% end %>
