<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to cpu_alerts_path, class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Back'} do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <% end %>

  <%= link_to edit_cpu_alert_path(@cpu_alert), class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Edit' } do %><i class="glyphicon glyphicon-edit"></i><% end %>
</div>

<dl class="dl-horizontal">
  <dt><%= t "shared.common.machine_id" %></dt>
  <dd><%= @cpu_alert.machine_id %></dd>

  <dt><%= t "shared.common.email" %></dt>
  <dd><%= @cpu_alert.addressee %></dd>

  <dt><%= t "shared.common.threshold" %></dt>
  <dd><% if @cpu_alert.triggered %> <span class="label label-danger"> <% end %> <%= @cpu_alert.threshold %> <% if @cpu_alert.triggered %> % </span> <% else %> % <% end %> </dd>

  <dt><%= t "shared.common.check_interval" %></dt>
  <dd><%= pluralize(@machine.update_interval, "minute") %></dd>

  <dt><%= t "shared.common.duration" %></dt>
  <dd><%= pluralize(@cpu_alert.duration, "minute") %></dd>

  <dt><%= t "shared.common.cylcles" %></dt>
  <dd><%= @cpu_alert.duration / @machine.update_interval %></dd>
</dl>