<%= bootstrap_form_for(@ram_alert) do |f| %>
<% if @ram_alert.errors.any? %>

<div class="alert alert-danger">
  <%= pluralize(@ram_alert.errors.count, "error") %> prohibited this RAM Alert from being saved:
  <ul>
    <% @ram_alert.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="field">
<%= f.select :machine_id, @machines_hash %>
</div>
<div class="field">
  <%= f.text_field :addressee, label: 'E-Mail address', placeholder: 'sonar_alert@example.com' %>
</div>
<div class="field">
  <%= f.number_field :threshold, label: 'RAM threshold', placeholder: '50', class: 'text_field', step: 0.5, help: 'Positive number, percentage of RAM usage.' %>
</div>
<div class="field">
  <%= f.number_field :check_interval, placeholder: '5', help: 'Positive integer between 1 and 1440, minutes between each check.' %>
</div>
<div class="field">
  <%= f.number_field :duration, placeholder: '10', help: 'Positive integer between 1 and 1440, greater than or equal to the check interval, minutes during which the condition has to be met in order for the alert to get triggered.' %>
</div>
<div class="field">
  <%= f.text_area :custom_message, placeholder: 'Type your message.' %>
</div>
<br>
<div class="actions">
  <%= f.submit 'Save RAM alert', class: 'btn btn-primary' %>
</div>
<br>
<% end %>
