<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to ram_alerts_path, class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Back'} do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <% end %>

  <%= link_to edit_ram_alert_path(@ram_alert), class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Edit' } do %><i class="glyphicon glyphicon-edit"></i><% end %>
</div>

<dl class="dl-horizontal">
  <dt>Machine ID</dt>
  <dd><%= @ram_alert.machine_id %></dd>

  <dt>E-Mail Address</dt>
  <dd><%= @ram_alert.addressee %></dd>

  <dt>RAM threshold</dt>
  <dd><% if @ram_alert.triggered %> <span class="label label-danger"> <% end %> <%= @ram_alert.threshold %> <% if @ram_alert.triggered %> % </span> <% else %> % <% end %> </dd>

  <dt>Check interval</dt>
  <dd><%= pluralize(@machine.update_interval, "minute") %></dd>

  <dt>Duration</dt>
  <dd><%= pluralize(@ram_alert.duration, "minute") %></dd>

  <dt>Cycles</dt>
  <dd><%= @ram_alert.duration / @machine.update_interval %></dd>
</dl>