<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.text_field :machine_id %>
  </div>
  <div class="field">
    <%= f.label :addressee %><br>
    <%= f.text_field :addressee %>
  </div>
  <div class="field">
    <%= f.label :check_interval %><br>
    <%= f.text_field :check_interval %>
  </div>
  <div class="field">
    <%= f.label :cpu_threshold %><br>
    <%= f.text_field :cpu_threshold %>
  </div>
  <div class="field">
    <%= f.label :ram_threshold %><br>
    <%= f.text_field :ram_threshold %>
  </div>
  <div class="field">
    <%= f.label :swap_threshold %><br>
    <%= f.text_field :swap_threshold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
