<%= bootstrap_form_for(@log_alert) do |f| %>
  <% if @log_alert.errors.any? %>

  <div class="alert alert-danger">
    <%= pluralize(@log_alert.errors.count, "error") %> prohibited this CPU Alert from being saved:
    <ul>
      <% @log_alert.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>

  <div class="field">
    <%= f.select :machine_id, @machines_hash %>
  </div>
<div class="field">
  <%= f.text_field :addressee, placeholder: 'sonar_alert@example.com' %>
</div>
  <div class="field">
    <%= f.select :logger_type, {'Custom' => 'custom', 'Systemd' => 'systemd'} %>
  </div>
  <div class="field">
    <%= f.text_field :path, placeholder: '/var/log/mylog.log' %>
  </div>
  <div class="field">
    <%= f.text_field :arguments, placeholder: '/ERROR/' %>
  </div>
  <div class="field">
    <%= f.number_field :check_interval, placeholder: '10' %>
  </div>
  <div class="field">
    <%= f.text_area :custom_message %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <br>
<% end %>
