<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<div class="page-header">
  <h1>Log alerts</h1>
</div>

<div class="table-responsive text-center">
  <table class="table">
   <thead>
    <tr class="active">
      <th class="text-center">Machine ID</th>
      <th class="text-center">E-Mail address</th>
      <th class="text-center">Logger type</th>
      <th class="text-center">Path</th>
      <th class="text-center">Arguments</th>
      <th class="text-center">Check interval</th>
      <th class="text-center">Custom message</th>
      <th class="text-center">Acknowledge</th>
      <th class="text-center">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @log_alerts.each do |log_alert| %>
    <% if log_alert.triggered %>
    <tr class="danger">
      <% else %>
      <tr>
        <% end %>
        <td> <%= log_alert.machine_id %> </td>
        <td> <%= log_alert.addressee %> </td>
        <td> <%= log_alert.logger_type %> </td>
        <td> <%= log_alert.path %> </td>
        <td> <%= log_alert.arguments %> </td>
        <td> <%= pluralize(log_alert.check_interval, "minute") %> </td>
        <td> <a class="btn btn-info btn-xs <% if log_alert.custom_message.empty? %> disabled <% end %>" tabindex="0" role="button" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="toggle" title="Message content" data-content="<%= h(log_alert.custom_message).gsub(/\n/, '<br/>') %>"> <i class="glyphicon glyphicon-info-sign"> </i> </a> </td>
        <td> <a class="btn btn-success btn-xs <% unless log_alert.triggered %> disabled <% end %>" data-toggle="tooltip" data-title="Acknowledge and reset the alert" href="/log_alerts/<%= log_alert.id %>/acknowledge" tabindex="0" role="button"> <i class="glyphicon glyphicon-ok"> </i> </a> </td>
        <td> <div class="btn-group" role="group" aria-label="Operations">
          <%= link_to log_alert, class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'View' } do %> <i class="glyphicon glyphicon-eye-open"> </i> <% end %>
          <%= link_to edit_log_alert_path(log_alert), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'Edit' } do %> <i class="glyphicon glyphicon-edit"> </i> <% end %>
          <%= link_to log_alert, method: :delete, data: { confirm: 'Delete item?', toggle: 'tooltip', title: 'Delete' }, class: 'btn btn-xs btn-danger' do %> <i class="glyphicon glyphicon-remove"> </i> <% end %>
        </div> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to new_log_alert_path, class: 'btn btn-success', remote: true, id:"new_log_alert_link" do %>
<i class="glyphicon glyphicon-plus"> </i> New log Alert
<% end %>