<%= bootstrap_form_for(@machine) do |f| %>
<% if @machine.errors.any? %>

<div class="alert alert-danger">
  <%= pluralize(@machine.errors.count, "error") %>:
  <ul>
    <% @machine.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="field">
  <%= f.text_field :alias, placeholder: 'Alias' %>
</div>
<div class="field">
  <%= f.select :protocol, options_for_select([["HTTP", "http"], ["HTTPS", "https"]]) %>
</div>
<div class="field">
  <%= f.text_field :host, placeholder: 'example.com'%>
</div>
<div class="field">
  <%= f.number_field :port, placeholder: '4963' %>
</div>
<div class="field">
  <%= f.number_field :update_interval, placeholder: 1 %>
</div>
<br>
<div class="actions">
  <%= f.submit class: 'btn btn-primary' %>
</div>
<br>
<% end %>
