<%= bootstrap_form_for(@machine) do |f| %>
<% if @machine.errors.any? %>

<div class="alert alert-danger">
  <%= pluralize(@machine.errors.count, "error") %> prohibited this Machine from being saved:
  <ul>
    <% @machine.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="field">
  <%= f.text_field :alias, placeholder: 'Machine alias' %>
</div>
<!-- <div class="field"> -->
<!-- <%= f.text_field :protocol, placeholder: 'http' %> -->
<!-- </div> -->
<div class="field">
  <%= f.select :protocol, options_for_select([["HTTP", "http"], ["HTTPS", "https"]]) %>
</div>
<div class="field">
  <%= f.text_field :host, placeholder: 'example.com', help: 'Address or IP of the machine you want to get data from relative to the Sonar Web server.' %>
</div>
<div class="field">
  <%= f.number_field :port, placeholder: '4963', help: 'Port of the Sonar API server. 4963 is the default port.' %>
</div>
<div class="field">
  <%= f.number_field :update_interval, placeholder: 1, help: 'Positive integer, minutes between each graph update.' %>
</div>
<br>
<div class="actions">
  <%= f.submit 'Save machine', class: 'btn btn-primary' %>
</div>
<br>
<% end %>
