<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<p id="notice"> <%= notice %> </p>

<div class="page-header">
  <h1>Machines</h1>
</div>

<% unless Machine.all.count == 0 %>

<div class = "table-responsive text-center">
  <table class="table">
   <thead>
    <tr class="active">
      <th class="text-center">ID</th>
      <th class="text-center">Alias</th>
      <th class="text-center">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
    <tr>
      <td><%= machine.id %> </td>
      <td> <%= machine.alias %> </td>
      <td> <div class="btn-group" role="group" aria-label="Operations">
        <%= link_to machine, class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'View' } do %> <i class="glyphicon glyphicon-eye-open"> </i> <% end %>
        <%= link_to edit_machine_path(machine), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'Edit' } do %> <i class="glyphicon glyphicon-edit"> </i> <% end %>
        <%= link_to machine, method: :delete, data: { confirm: 'Delete item?', toggle: 'tooltip', title: 'Delete' }, class: 'btn btn-xs btn-danger' do %> <i class="glyphicon glyphicon-remove"> </i> <% end %>
      </div> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>

<br>

<%= link_to new_machine_path, class: 'btn btn-success', remote: true, id:"new_machine_link" do %>
<i class="glyphicon glyphicon-plus"> </i> New Machine
<% end %>
