<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to machines_path, class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Back'} do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <% end %>

  <%= link_to edit_machine_path(@machine), class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Edit' } do %><i class="glyphicon glyphicon-edit"></i><% end %>
</div>

<dl class="dl-horizontal">

  <dt> URL </dt>
  <dd> <a data-original-title="" class="btn btn-default btn-xs <% if @status %> btn-success <% else %> btn-danger <% end %>" <% unless @status %> data-toggle="tooltip" data-title="Host can't be reached" <% end %> href="<%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}" %>"><%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}" %> </a> </dd>

  <dt> Alias </dt>
  <dd> <%= @machine.alias %> </dd>

  <dt> Hostname </dt>
  <dd> <%= @machine.hostname %> </dd>

  <dt> Update interval </dd>
    <dd> <%= pluralize(@machine.update_interval, 'minute') %> </dd>

    <% if @status %>

    <div class="well well-sm" id="current_loads">
      <dt>Current CPU load</dt>
      <dd><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="<%= @cpu_load %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @cpu_load %>%;"><%= @cpu_load %> %</div></div></dd>

      <dt>Current RAM load</dt>
      <dd><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="<%= @ram_load %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @ram_load %>%;"><%= @ram_load %> %</div></div></dd>

      <dt>Current storage load</dt>
      <dd><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="<%= @storage_load %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @storage_load %>%;"><%= @storage_load %> %</div></div></dd>
    </div>

    <% end %>

    <dt>Last chart update</dt>
    <dd><%= CpuMetric.last.updated_at %></dd>
  </dl>
  <p>
    <div class="well" id="cpu_chart">
      <script>
        $(function () {
          $('#cpu_chart').highcharts({
            chart :{
              type: 'areaspline'
            },
            title:{
              text: 'CPU chart'
            },
            yAxis: {
              min: 0,
              max: 100,
              title: {
                text: false
              },
              labels: {
                formatter: function() {
                  return this.value + ' %';
                }
              },
            },
            legend: {
              enabled: false
            },
            xAxis: {
              labels: {
                enabled: false
              },
            },
            plotOptions: {
              series: {
                allowPointSelect: false
              }
            },
            tooltip: {
              shared: true,
              valueSuffix: ' %'
            },
            credits: {
              enabled: false
            },
            series: [{
              name: 'CPU load',
              data: <%= @cpu_load_last10 %>
            }]
          });
        });
      </script>
    </div>

  </p>