<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to machines_path, class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Back'} do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <% end %>

  <%= link_to edit_machine_path(@machine), class: 'btn btn-default', data: { toggle: 'tooltip', title: 'Edit' } do %><i class="glyphicon glyphicon-edit"></i><% end %>
</div>

<dl class="dl-horizontal">

  <dt>URL</dt>
  <dd><a href=" <%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}" %>"><%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}" %></a></dd>

  <dt>Alias</dt>
  <dd><%= @machine.alias %></dd>

  <% if @status %>

  <dt>Hostname</dt>
  <dd><%= @machine.hostname %></dd>

  <dt>Current CPU load</dt>
  <dd><%= @cpu_load %>%</dd>

  <dt>Current RAM load</dt>
  <dd><%= @ram_load %>%</dd>

  <dt>Current storage load</dt>
  <dd><%= @storage_load %>%</dd>
  <% else %>
  <strong>HOST IS CURRENTLY DOWN</strong>
  <% end %>

  <dt>Update interval</dd>
  <dd><%= pluralize(@update_interval, 'minute') %></dd>

</dl>

<p>
  <div id="cpu_chart" style="width:50%; height:400px;float:left;"></div>
  <div id="ram_chart" style="width:50%; height:400px;float:right;"></div>
  <div id="storage_chart" style="width:100%; height:200px;"></div>
  <script>
    $(function () {
      $('#cpu_chart').highcharts({
        chart :{
          type: 'area'
        },
        yAxis: {
          min: 0, max: 100,
          title: {
            text: 'CPU Percentage'
          },
          labels: {
            formatter: function() {
              return this.value + ' %';
            }
          },
        },
        legend: {
          enabled: false
        },
        xAxis: {
          labels: {
            enabled: false
          },
        },
        title:{
          text: 'Last 10 CPU metrics'
        },
        plotOptions: {
          series: {
            allowPointSelect: true
          }
        },
        series: [{
          data: <%= @cpu_load_last10 %>
        }]
      });
    });
  </script>

  <script>
    $(function () {
      $('#ram_chart').highcharts({
        chart :{
          type: 'area'
        },
        yAxis: {
          min: 0, max: 100,
          title: {
            text: 'RAM Percentage'
          },
          labels: {
            formatter: function() {
              return this.value + ' %';
            }
          },
        },
        legend: {
          enabled: false
        },
        xAxis: {
          labels: {
            enabled: false
          },
        },
        title:{
          text: 'Last 10 RAM metrics'
        },
        plotOptions: {
          area: {}
        },
        series: [{
          data: <%= @ram_load_last10 %>
        }]
      });
    });
  </script>

  <script>
    $(function () {
      $('#storage_chart').highcharts({
        chart :{
          type: 'area'
        },
        yAxis: {
          min: 0, max: 100,
          title: {
            text: 'Storage Percentage'
          },
          labels: {
            formatter: function() {
              return this.value + ' %';
            }
          },
        },
        legend: {
          enabled: false
        },
        xAxis: {
          labels: {
            enabled: false
          },
        },
        title:{
          text: 'Last 10 storage metrics'
        },
        plotOptions: {
          series: {
            allowPointSelect: true
          }
        },
        series: [{
          data: <%= @storage_load_last10 %>
        }]
      });
    });
  </script>

</p>