<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @machine.url %>
  <br>
  <strong>Load:</strong>
  <%= @hash["load_percentage"] %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
