<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @machine.url %>
  <br>
  <strong>CPU Load:</strong>
  <%= @hardware_load["cpu_load_percentage"] %>
  %
  <br>
  <strong>RAM Load:</strong>
  <%= @hardware_load["ram_load_percentage"] %>
  %
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
