<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <a href="
  <%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}/sonar_api_v1" %>"><%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}/sonar_api_v1" %></a>
  <br>
  <strong>Hostname:</strong>
  <%= @hostname %>
  <br>
  <strong>Current CPU load: </strong>
  <%= @cpu_load %> %
  <br>
  <strong>Current RAM Load: </strong>
  <%= @ram_load %> %
  <br>
  <strong>Update interval: </strong>
  <%= pluralize(@update_interval, 'minute') %>
  <br>
  <div id="cpu_chart" style="width:50%; height:400px;float:left;"></div>
  <div id="ram_chart" style="width:50%; height:400px;float:right;"></div>
  <script>
    $(function () {
      $('#cpu_chart').highcharts({
        yAxis: {
          title: {
            text: 'CPU Percentage'
          },
          labels: {
            formatter: function() {
              return this.value + ' %';
            }
          },
        },
        legend: {
          enabled: false
        },
        xAxis: {
          labels: {
            enabled: false
          },
        },
        title:{
          text: 'Last 10 CPU metrics'
        },
        plotOptions: {
          series: {
            allowPointSelect: true
          }
        },
        series: [{
          data: <%= @cpu_load_last10 %>
        }]
      });
    });

  </script>
  <script>
    $(function () {
      $('#ram_chart').highcharts({
        yAxis: {
          title: {
            text: 'RAM Percentage'
          },
          labels: {
            formatter: function() {
              return this.value + ' %';
            }
          },
        },
        legend: {
          enabled: false
        },
        xAxis: {
          labels: {
            enabled: false
          },
        },
        title:{
          text: 'Last 10 RAM metrics'
        },
        plotOptions: {
          series: {
            allowPointSelect: true
          }
        },
        series: [{
          data: <%= @ram_load_last10 %>
        }]
      });
    });

  </script>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
