<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= "#{@machine.protocol}://#{@machine.host}:#{@machine.port}/sonar_api_v1" %>
  <br>
  <strong>Hostname:</strong>
  <%= @hostname %>
  <br>
  <strong>Current CPU load: </strong>
  <%= @cpu_load %>
  %
  <br>
  <strong>Current RAM Load: </strong>
  <%= @ram_load %>
  %
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
