<%= bootstrap_form_for(@storage_alert) do |f| %>
<% if @storage_alert.errors.any? %>

<div class="alert alert-danger">
  <%= pluralize(@storage_alert.errors.count, "error") %> prohibited this Storage Alert from being saved:
  <ul>
    <% @storage_alert.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>

<div class="field">
  <%= f.select :machine_id, @machines_hash, {}, {onChange: "javascript: get_mountpoints(this.value)"} %>
</div>
<div class="field">
  <%= f.text_field :addressee, placeholder: 'sonar_alert@example.com' %>
</div>
<div class="field">
  <%= f.select :path, @mountpoints %>
</div>
<div class="field">
  <%= f.number_field :threshold, placeholder: '50.5', class: 'text_field', step: 0.1 %>
</div>
<div class="field">
  <%= f.number_field :check_interval, placeholder: '5' %>
</div>
<div class="field">
  <%= f.text_area :custom_message %>
</div>
<br>
<div class="actions">
  <%= f.submit class: "btn btn-primary" %>
</div>
<br>
<% end %>