<%= form_for(@storage_alert) do |f| %>
<% if @storage_alert.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@storage_alert.errors.count, "error") %> prohibited this storage_alert from being saved:</h2>
  <ul>
    <% @storage_alert.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :machine_id %><br>
  <%= f.select :machine_id, @machine_ids %>
    <!-- <strong>Mountpoints for machine ID <%= @machine_ids.last %> <% @machine = Machine.find(@machine_ids.last) %> <% @mountpoints = Machine.api(@machine.protocol,@machine.host,@machine.port,"live")[:mountpoints] %> </strong>
    <%= @mountpoints %> -->
</div>
<div class="field">
  <%= f.label :addressee %><br>
  <%= f.text_field :addressee %>
</div>
<div class="field">
  <%= f.label :path %><br>
  <%= f.select :path, @mountpoints %>
</div>
<div class="field">
  <%= f.label :threshold %><br>
  <%= f.number_field :threshold, :class => 'text_field', :step => 0.5 %>
</div>
<div class="field">
  <%= f.label :check_interval %><br>
  <%= f.number_field :check_interval %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
