<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({ container: 'body'});   
  });
</script>

<% if StorageAlert.all.count == 0 %>

<h1>No storage alerts found</h1>

<% else %>

<div class="page-header">
  <h1>Storage alerts</h1>
</div>

<div class="table-responsive text-center">
  <table class="table">
   <thead>
    <tr class="active">
      <th class="text-center">Machine ID</th>
      <th class="text-center">E-Mail address</th>
      <th class="text-center">Path</th>
      <th class="text-center">Storage threshold</th>
      <th class="text-center">Custom message</th>
      <th class="text-center">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @storage_alerts.each do |storage_alert| %>
      <% if storage_alert.triggered %>
        <tr class="danger">
      <% else %>
        <tr>
      <% end %>
      <td> <%= storage_alert.machine_id %> </td>
      <td> <%= storage_alert.addressee %> </td>
      <td> <%= storage_alert.path %> </td>
      <td> <%= storage_alert.threshold %> % </td>
      <td><a class="btn btn-info btn-xs <% if storage_alert.custom_message.empty? %> disabled <% end %>" tabindex="0" role="button" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="toggle" title="Message content" data-content="<%= h(storage_alert.custom_message).gsub(/\n/, '<br/>') %>"><i class="glyphicon glyphicon-info-sign"></i></a></td>
      <td><div class="btn-group" role="group" aria-label="Operations">
        <%= link_to storage_alert, class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'View' } do %><i class="glyphicon glyphicon-eye-open"></i><% end %>
        <%= link_to edit_storage_alert_path(storage_alert), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', title: 'Edit' } do %><i class="glyphicon glyphicon-edit"></i><% end %>
        <%= link_to storage_alert, method: :delete, data: { confirm: 'Delete item?', toggle: 'tooltip', title: 'Delete' }, class: 'btn btn-xs btn-danger' do %><i class="glyphicon glyphicon-remove"></i><% end %>
      </div></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>

<br>

<%= link_to new_storage_alert_path, class: 'btn btn-success', remote: true, id: "new_storage_alert_link" do %>
<i class="glyphicon glyphicon-plus"></i>
New storage alert
<% end %>