<p id="notice"><%= notice %></p>

<h1>Listing Storage Alerts</h1>

<table>
  <thead>
    <tr>
      <th>Machine</th>
      <th>Addressee</th>
      <th>Path</th>
      <th>Storage threshold</th>
      <th>Check interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storage_alerts.each do |storage_alert| %>
      <tr>
        <td><%= storage_alert.machine_id %></td>
        <td><%= storage_alert.addressee %></td>
        <td><%= storage_alert.path %></td>
        <td><%= storage_alert.storage_threshold %></td>
        <td><%= storage_alert.check_interval %></td>
        <td><%= link_to 'Show', storage_alert %></td>
        <td><%= link_to 'Edit', edit_storage_alert_path(storage_alert) %></td>
        <td><%= link_to 'Destroy', storage_alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storage alert', new_storage_alert_path %>
